<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Your Cart – Luméra</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>

  <section class="cart-page">
    <h2 class="section-title">YOUR CART</h2>
    <div id="cart-items" class="cart-items"></div>
    <div id="cart-total" class="cart-total"></div>
    <div class="checkout-container">
      <div class="cart-buttons">
        <button onclick="clearCart()">Clear Cart</button>
        <button onclick="window.location.href='{{ url_for('show_page', page_name='payment.html') }}'"
          class="checkout-btn">Proceed to Payment</button>
      </div>
  </section>

</body>

</html>